<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../css/app.css" type="text/css" />
    <title>Document</title>
</head>
<body>
<header>
    <h1>Ofertes</h1>

</header>
<div id="app">
    <ul class="list">
        <li v-bind:id="oferta.id" v-for="oferta in ofertaList">
            <span>{{oferta.titol}} </span>
        </li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../js/axios.min.js"></script>
<script type="text/javascript" src="../js/app.js"></script>
</body>
</html>


