{%  extends 'baseTemplate.html.twig' %}

  {% block script %}
      <script src="/js/plantilla/jquery.min.js"></script>
      <script src="/js/plantilla/bootstrap.min.js"></script>
      <script src="/js/plantilla/jquery.wmuSlider.js"></script>
      <script src="/js/plantilla/jquery.flexisel.js"></script>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  {% endblock %}

{# listado de todas las ofertas por el administrador #}
{% block body %}
    <link href="/css/user.css" rel="stylesheet">
    <div id="app">

        {% include 'header.html.twig' %}

        <div class="container">

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Afegir curriculum al perfil</h5>
                        </div>
                        <div class="modal-body">

                            {{form_start(form, { 'enctype':"multipart/form-data"})}}
                            {{form_end(form)}}
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Tanca</button>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="titulos">Ofertes</h3>
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true" @click="filterCategoria('tot')">Tot</a></li>
				<li class="" role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" @click="filterCategoria('ASIX')">ASIX</a></li>
                <li class="" role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" @click="filterCategoria('DAW')">DAW</a></li>
                <li class="" role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" @click="filterCategoria('DAM')">DAM</a></li>
                <li class="" role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" @click="filterCategoria('SMIX')">SMIX</a></li>

            </ul>
            <br>
            <div class="accordation">

                <div  v-bind:id="oferta.id" v-for="(oferta,index) in ofertaListCopy" class="jb-accordion-wrapper">
                    <div  data-toggle="collapse" :data-target="'#accordion' + index" class="jb-accordion-title" v-bind:class="{ ofertaVell: oferta.antiguitat }">
                        {{ "{{ oferta.titol }}" }} <span class="m_1">{{ "{{oferta.data_publicacio.date }}" }}</span>
                        <div class="categoria">
                            <span >{{ "{{ oferta.categoria.nombre}}" }}</span>
                            <div class="punt" :class="{'inscrito': oferta.validada}"></div>
                        </div>
                    </div>
                    <p><!-- /.accordion-title -->
                    </p><div :id="'accordion' + index" class="jb-accordion-content collapse ">
                        <p>{{ "{{ oferta.descripcio}}" }} </p>
                        <div>
                            <div class="row">
                                <div class="col-sm-6 column_grid"></div>
                                <div class="col-sm-3 column_grid">
                                    <span>Empresa: {{ "{{ oferta.nombre_empresa}}" }}</span>
                                </div>
                                <div class="col-sm-3 column_grid">
                                    <span>Ubicació: {{ "{{ oferta.ubicacio}}" }}</span>
                                </div>
                                </div>
                        </div>
                        <form v-if="!oferta.validada">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Carta de presentacion</label>
                                <textarea  v-model="oferta.cartaPresentacio"  class="form-control inscriptFormTesxaria" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <p><input type="checkbox" v-model="oferta.validar" true-value="true" false-value="false">Autoritzo a IamWorking perquè enviï el meu CV a les empreses</p>
                            <input @click="inscribir(oferta)" class="btn btn-primary" type="button" value="Inscriure">
                        </form>
                    </div>
                    <p><!-- /.collapse --></p>
                </div>
            </div>

        </div>

    </div>
    <script type="text/javascript" src="../js/user/app.js"></script>
{% endblock %}
