<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}IamWorking{% endblock %}</title>
        <link href="https://playground.anychart.com/docs/samples/quick_start_pie/iframe" rel="canonical">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="google-signin-client_id" content="283993195253-7bs3dgb6k0pqbhvidc26mu9im3ihhj0r.apps.googleusercontent.com">
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js" type="text/javascript"></script>
        <link href="/css/myStyle.css" rel="stylesheet" />
        <script type="text/javascript" src="../js/user/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="/js/user/authenticationGoogle.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">



        {% block script %}
            <!--script src="https://apis.google.com/js/platform.js" async defer></script-->
        {% endblock %}

        {% block stylesheet %}
            <link href="/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
            <!-- Custom Theme files -->
            <link href="/css/style.css" rel='stylesheet' type='text/css' />
            <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
            <!----font-Awesome----->
            <link href="/css/font-awesome.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <script src="https://apis.google.com/js/platform.js?onload=onLoadGoogleCallback" async defer></script>
        {% block header %}{% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}
        
             {% include 'footer.html.twig' %}


        {% endblock %}

        {% block scriptBody %}
            <script src="/js/main.js"></script>
        {% endblock %}

    </body>
</html>
