<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="css/estilo.css" rel="stylesheet" />
    </head>
    <body>

        <div class="navegacio" role="navigation">
            <ul>
                <li><a href="/novaOferta">Crea una nova ferta</a></li>

            </ul>
        </div>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
