<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        {% block script %}
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <meta name="google-signin-client_id" content="276537784824-9b03kigm993cko02nf5527vjlvl8e73p.apps.googleusercontent.com">


        {% endblock %}
        {% block stylesheet %}
        <!-- Custom Theme files -->
        <link href="/css/style.css" rel='stylesheet' type='text/css' />
        <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
        <!----font-Awesome----->
        <link href="/css/font-awesome.css" rel="stylesheet">
        <!----font-Awesome----->
        {% endblock %}
    </head>
    <body>
        {% block header %}{% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}
        <div class="footer_bottom">
            <div class="container">
                <div class="col-sm-2">
                    <p><strong>Nosaltres</strong></p>
                    <ul class="f_list2">
                        <li><a href="/html/condicionslegals.html">Condicions Legals</a></li>
                        <li><a href="/html/politicaprivacitat.html">Política de Privacitat</a></li>
                    </ul>
                </div>
                <div class="col-sm-2">
                    <p><strong>Segueix-nos!</strong></p>
                    <ul class="f_list2 social_media">
                        <li><a href="facebook.com"></a><img src="../images/logo/facebook.png"></li>
                        <li><a href="instagram.com"></a><img src="../images/logo/instagram.png"></li>
                        <li><a href="linkedin.com"></a><img src="../images/logo/linkedin.png"></li>
                        <li><a href="twitter.com"></a><img src="../images/logo/twitter.png"></li>
                    </ul>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <img class="logo_grande_footer" src="../images/logo/iamwnegro400.png">
                </div>
               
            </div>
        </div>
        {% endblock %}

        {% block scriptBody %}
        {% endblock %}

    </body>
</html>
