<nav id="menu" class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><img src="/images/logo/iamworange400.png"  class="logoImg" alt="logo"/></a>
         </div>
        <!--/.navbar-header-->
        <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
            <ul class="nav navbar-nav signIn">
                <!--li><a id="googleSignIn" href="/index">Home</a></li-->
                <li><a type="button" class="" style="cursor:pointer;" data-toggle="modal" data-target="#exampleModal">
                        Penjar CV
                </a></li>
                <li><a href="#" onclick="signOut();">Sign out</a></li>
                <li v-if="user"><div class="profileImgBox"><img :src="user.ImageURL" width="100%" height="100%"  alt="photo"/></div></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <!--/.navbar-collapse-->
</nav>