


{%  extends 'baseTemplate.html.twig' %}

{% block header %}
    <nav id="menu" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index"><img src="/images/logo/iamworange400.png"  class="logoImg" alt=""/></a>
            </div>
            <!--/.navbar-header-->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                <ul class="nav menuItem navbar-nav signIn">
                    <!--<li><a href="/indexUser">Login / Registre</a></li>-->
                    <li><a href="/novaOferta">Ets empresa?</a></li>
                    <!--<li><a href="/mostrarOfertasSinValidar">Panell d'administrador</a></li>-->
                    <!--li><div class="g-signin2" data-onsuccess="onSignIn"></div></li-->
                    <li v-if="!user"><a id="googleSignIn" href="#">Sign in</a></li>
                    <li><a href="#" onclick="signOut();">Sign out</a></li>
                    <li v-if="user"><div class="profileImgBox"><img :src="user.ImageURL" width="100%" height="100%"  alt="photo"/></div></li>


                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--/.navbar-collapse-->
    </nav>
{% endblock %}

{# listado de todas las ofertas por el administrador #}
{% block body %}
<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    <div class="container" id="app">
        <br>
        <div class="row">
            <div class="col-sm-9">
                {#Grafic#}
                <div id="container" style="width: 100%; height: 500px; right: 40%;"></div>
            </div>
            <div class="col-md-3 icon-service">
                <div class="icon">
                    <i class="fa"> <img width="100%" src="../images/daw.png"></i>
                </div>
                <div class="icon-box-body">
                    <h4>DAW</h4>
                    <span  class="element">{{ "{{v_categotia.DAW}}" }}</span>
                </div>
            </div>

            <div class="col-sm-3 icon-service">
                <div class="icon">
                    <i class="fa"><img width="100%" src="../images/dam.png"></i>
                </div>
                <div class="icon-box-body">
                    <h3>DAM</h3>
                    <span class="element">{{ "{{v_categotia.DAM}}" }}</span>
                </div>
            </div>
            <div class="col-sm-3 icon-service">
                <div class="icon">
                    <i class="fa"><img width="100%" src="../images/smx.png"></i>
                </div>
                <div class="icon-box-body">
                <h3>SMIX</h3>
                    <span class="element">{{ "{{v_categotia.SMIX}}" }}</span>
                </div>
            </div>
            <div class="col-sm-3 icon-service">
                <div class="icon">
                    <i class="fa"><img width="100%" src="../images/asix.png"></i>
                </div>
                <div class="icon-box-body">
                <h3>ASIX</h3>
                  <span class="element">{{ "{{v_categotia.ASIX}}" }}</span>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="/js/grafic/main.js"></script>

{% endblock %}





