{%  extends 'baseTemplate.html.twig' %}

{# listado de todas las ofertas por el administrador #}
{% block body %}
    {% include 'Admin/headerAdmin.html.twig' %}

    <div class="container">
        <h3 class="titulos">Num de inscrits: {{ inscrits }}</h3>

                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">Correu</th>
                        <th scope="col">Data inscripció</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for candidat in candidats %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{ candidat.username.username }}</td>
                        <td>{{ candidat.username.correu }}</td>
                        <td>{{ candidat.data_inscripcio.date |date("m/d/Y")}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

    </div>

    <script>

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

        }

    </script>


{% endblock %}



