{%  extends 'baseTemplate.html.twig' %}
{# listado de todas las ofertas por el administrador #}
{% block body %}
    {% include 'Admin/headerAdmin.html.twig' %}
    <div class="container">

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
            {% for oferta in ofertes %}

            <div class="tab_grid">
                <div class="col-sm-10">
                    <div class="location_box1">
                        <h6><a href="">{{ oferta.titol }} </a><span class="m_1">{{ oferta.dataPublicacio | date ('Y-m-d') }}</span><span class="categoria">{{ oferta.categoria.nombre }}</span></h6>
                        <p><span class="m_2">Descripcio : </span>{{ oferta.descripcio }}</p>
                        <ul class="links_bottom">
                           <li>
                               Empresa: {{ oferta.nombreEmpresa }}
                           </li>
                            <li>
                              Ubicació: {{ oferta.ubicacio}}
                            </li>
                            <li>
                                Correu: <a href="mailto:{{ oferta.correo }}">  {{ oferta.correo }} </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2 loc_1">
                    <div>
                        <a href="{{ path('validarOferta', {'id': oferta.id }) }}">Validar</a>
                    </div>
                    <div>
                        <a href="{{ path('descartarOferta', {'id': oferta.id }) }}">Descartar</a>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            {% endfor %}

        </div>

    </div>
    </div>
    <script>

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

        }

    </script>

{% endblock %}



