{%  extends 'baseTemplate.html.twig' %}

  {% block stylesheet %}
      <link href="../css/myStyle.css" rel="stylesheet" />
      <link href="../css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="../js/jquery.min.js"></script>
      <script src="../js/bootstrap.min.js"></script>
      <!-- Custom Theme files -->
      <link href="../css/style.css" rel='stylesheet' type='text/css' />
      <link href='//fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
      <!----font-Awesome----->
      <link href="../css/font-awesome.css" rel="stylesheet">
      <!----font-Awesome----->
  {% endblock %}

{% block header %}
    {% include 'Admin/headerAdmin.html.twig' %}
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="titulos">Editor</h3>
        {{ form(form) }}

    </div>
{% endblock %}