{%  extends 'baseTemplate.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{# templates/Ofertes/newOferta.twig #}
{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Empresa</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index"><img src="/images/logo/iamworange400.png"  class="logoImg" alt="logo"/></a>
            </div>
            <!--/.navbar-header-->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                <ul class="nav navbar-nav signIn">
                    <li><a href="/index">Home</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
        <!--/.navbar-collapse-->
    </nav>
{% endblock %}
{% block body %}
   {# {% include 'header.html.twig' %}  #}


    <div class="container">
        <div class="columns">
            <br>
            <div class="row">
                <div class="col-sm-6 column_grid">
                    <br>
                    <br>
                    <img width="100%" height="100%" src="/images/nova_oferta_ok.jpg" />
                </div>
                <div class="col-sm-6 column_grid">
                    {{ form(form) }}
                    <h6>(*) El mail de contacte no serà públic, només l'admin l'utilitzarà per contactar i enviar els CV</h6>
                    <br>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

