.categoria {
    float: right;
    display: flex;
    align-items: center;
}

.ofertaVell {
    background-color: #9c8b75 !important;
}

.inscriptFormTesxaria{
    resize: vertical;
}

.logoImg{
    width: 200px;
}

p,
h1,
h2 {
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    line-height: 1.5em;
    text-align: justify;
}

.footer_logo{
    width: 25%;
}

.div_footer_logo > img{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 15%;
}

.logo_grande_footer{
    width: 80%;
    float: right;
}

.abcRioButton{
    width: 160px !important;
}

.social_media li > img{
    width: 20%;
    display: inline;
    float: left;
    margin: 9%;

}


.iconos > img{
    width: 20%;
    float: left;
    display: inline;
    margin-right: 5%;
}

.element{
    background: #666666;
    border-radius: 10px;
    color: white !important;
    font-size: 1.8em !important;
    padding: 1px 10px;
}

.cont_punt{
    width: 100%;
    position: absolute;
}

.punt{
    width: 15px;
    height: 15px;
    margin-left: 30px;
    border-radius: 50%;
}
.inscrito{
    background-color: #2185C8;

}



.menuItem{
    display: flex;
    align-items: center;
}
.profileImgBox{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: -30px;
    margin-left: 30px;
}

.titulos{
    color: lightslategray;
    margin-top: 3%;
    margin-bottom: 3%;

}

