.categoria {
    float: right;
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.ofertaVell {
    background-color: #9c8b75 !important;
}

.inscriptFormTesxaria{
    resize: vertical;
}

.logoImg{
    width: 200px;
}

p,
h1,
h2 {
    margin: 10%;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
    line-height: 1.5em;
    text-align: justify;
}

.footer_logo{
    width: 25%;
}

.div_footer_logo > img{
    position: absolute;
    left: 10%;
    top: 5%;
    width: 15%;
}

.logo_grande_footer{
    width: 80%;
    float: right;
}

.abcRioButton{
    width: 160px !important;
}

.social_media li > img{
    width: 20%;
    display: inline;
    float: left;
    margin: 9%;

}

.signIn{
    position: relative;
    font-weight: bold ;
    font-size: 1.3em;
    bottom: 10%;
}

.iconos > img{
    width: 20%;
    float: left;
    display: inline;
    margin-right: 5%;
}

.element{
    background: #666666;
    border-radius: 10px;
    color: white !important;
    font-size: 1.8em !important;
<<<<<<< HEAD
    padding-left: 12px;
}

.punt{
    width: 15px;
    height: 15px;
    background-color: #2185C8;
    margin-left: 20px;
    border-radius: 50%;

||||||| merged common ancestors
    padding-left: 12px;
=======
    padding: 1px 10px;
>>>>>>> 8a8ce2c09a1d4bc06ea3275f231763d6e84caef5
}