{# templates/emails/mail.html.twig #}
<h3>Nova inscripció a l'oferta</h3>

Un nou candidat s'ha inscrit a la oferta "{{ titolOferta }}".
<br>
<br>
Dades del candidat:
<br>
- Nom: {{ nom }}.<br>
- Correu: {{ correu }}.<br>
- Carta de presentació: {{ cartaPresentacio }}
<br><br>
A continuació està adjuntat el currículum del candidat:

{# example, assuming you have a route named "login"
To login, go to: <a href="www.google.es">...</a>.

Thanks!

Makes an absolute URL to the /images/logo.png file #}

